# Data sprint campus 2024

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv("Datasets/objets-trouves-restitution.csv", sep=";")

In [31]:
df.head()

,Date,Date et heure de restitution,Gare,Code UIC,Nature d'objets,Type d'objets,Type d'enregistrement
0,2019-02-11T19:02:12+01:00,NaN,Paris Montparnasse,87391003.0,"Clés, porte-clés","Clés, porte-clés, badge magnétique",Objet trouvé
1,2019-02-11T19:16:03+01:00,2019-02-23T16:55:32+01:00,Strasbourg,87212027.0,Sac à dos,"Bagagerie: sacs, valises, cartables",Objet trouvé
2,2019-02-11T19:52:16+01:00,2019-02-22T17:05:10+01:00,Saint-Étienne Châteaucreux,87726000.0,"Porte-monnaie, portefeuille","Porte-monnaie / portefeuille, argent, titres",Objet trouvé
3,2019-02-11T20:00:28+01:00,NaN,Paris Montparnasse,87391003.0,Chaussures (autre que chaussures de ski et pat...,"Vêtements, chaussures",Objet trouvé
4,2019-02-11T20:14:26+01:00,NaN,Paris Montparnasse,87391003.0,Carte de crédit,"Porte-monnaie / portefeuille, argent, titres",Objet trouvé

## 1 - Composition du fichier

Ce jeu de données représente l'intégralité des déclarations de pertes faites par les clients de la SNCF (Par date). Elle enregistre aussi la date de restitution des éléments perdus. 

**Le tableau est composée de 7 colonnes qui représentent :**
1. La date de déclaration
2. La date et l'heure de restitution
3. La Gare
4. Code IUC
5. La Nature de l'objets
6. Type d'objets
7. Type d'enregistrement

## 2 - Dimensionnalité du jeux de données

In [32]:
print("La dimension du jeux de données est comme suit :")
print("---"*3)
print(f"Lignes : {df.shape[0]}")
print(f"Colonnes : {df.shape[1]}")

La dimension du jeux de données est comme suit :
---------
Lignes : 460000
Colonnes : 7

### 3 - Type de données

#### 3.1 - Données de type date

In [33]:
# Conversion date
df["Date"] = pd.to_datetime(df["Date"], utc=True)

In [36]:
df["Date et heure de restitution"] = pd.to_datetime(df["Date et heure de restitution"], utc=True)

In [37]:
df.dtypes

Date                            datetime64[ns, UTC]
Date et heure de restitution    datetime64[ns, UTC]
Gare                                         object
Code UIC                                    float64
Nature d'objets                              object
Type d'objets                                object
Type d'enregistrement                        object
dtype: object

In [45]:
# Répartitions des dates
print(df.Date.min())
print(df.Date.max())

2017-12-03 05:40:30+00:00
2024-05-01 18:57:07+00:00

#### 3.1 - Données catégoriels

In [42]:
print("voici toute les gares: ")
[print(i) for i in list(range(1, 5))]

voici toute les gares:
1
2
3
4

[None, None, None, None]

#### 3.2 - Données numériques